<section class="announcement-bar" style="background-color: {{section.settings.background_color}};">
  <p class="announcement-bar__text" style="{{section.settings.announcement_text_color}}">
    {{  section.settings.announcement_text }}
  </p>
</section>

{% schema %}
{
  

    "name": "Announcement Bar",
    "settings": [
      {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000" 
      }, 
      {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Text Color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Text",
        "default": "Free Shipping on Orders $50 or over!"
      }
    
    ]
}

{%endschema%}