<section
  class="announcement-bar"
  style="background-color: {{ section.settings.announcementBar }};"
>
  <p class="announcement-bar__text" style="color: {{ section.settings.announcement_text_color }};">
    {{ section.settings.announcement_text }}
  </p>
</section>

{% schema %} 
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar",
  "settings": [
    {
    "type": "color",
    "id": "announcementBar",
    "label": "Color Picker",
    "default": "#000000"
  }
]

}

{% endschema %}
