<section id="announcement-bar" class="announcement-bar">
 <p class="announcement-bar__text"> {{ section.settings.announcement-bar }} </p>
</section>

{%  schema  %} 
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "announcement-bar__text",
    "settings": [
      {
        "type": "text",
        "id": "announcement-bar" ,
        "label": "Announcement Bar Text"
      }
    ]
  }
{% endschema %}


