<section class="announcement-bar" style="background-color: {{section.settings.background_color}};">
  <p class="announcement-bar__text" style="color:{{section.settings.announcement_text_color}};">
    {{  section.settings.announcement_text }}
  </p>
</section>

{% schema %}
{
  

    "name": "Announcement Bar",
    "settings": [

      {
        "type": "text",
        "id": "announcement_text",
        "label": "Text",
        "default": "Free Shipping on Orders $50 or over!"
      },
      {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Text Color",
        "default": "#FAFAFA"
      },
      {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000" 
      }
      
    
    ]
}

{%endschema%}