<section class="announcement-bar" style="background-color: {{ section.settings.background_color }};">
<p class="announcement-bar__text">
 Hello
</p>
</section>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    }
  ]
}

{% endschema %}

