<section class="announcement-bar" style="background: {{section.settings.announcement-bar}};">
  <p class="announcement-bar__text">
    {{section.settings.announcement-bar_text}}
  </p>
</section>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FAFAFA"
    }
  ]
}


{% endschema %}