<section
  class="announcement-bar"
  style="background-color: {{ section.settings.announcementBar }};"
>
  <p class="announcement-bar__text" style="color: {{ section.settings.announcement_text_color }};">
    {{ section.settings.announcement_text }}
  </p>
</section>

{% schema %} 
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar__text",
  "settings": [{
    "type": "color",
    "id": "color-picker",
    "label": "Color Picker"
  }]

}

{% endschema %}
