<section id="announcement-bar" class="announcement-bar">
  {% comment %} <p class="announcement-bar__text"> {% endcomment %}
    {{ section.settings.announcement-bar }}
    {% comment %} </p> {% endcomment %}
  {% comment %} <p>Free Shipping on orders over $50</p> {% endcomment %}
</section>

{%  schema  %} 
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "announcement-bar",
    "settings": [
      {
        "type": "text",
        "id": "announcement-bar" ,
        "label": "Announcement-Bar"
      }
    ]
  }
{% endschema %}


