<header class="nav" style="background-color: {{ section.settings.header_bg_color }};">
  <div class="nav-content">
    <a class="nav-logo" href="#">
      <img src="{{ section.settings.header_image | img_url: 'master' }}" alt="Header image">

      {% comment %} <img id="nav-logo-image"
        src="https://www.fender.com/cdn/shop/files/fender_logo.svg?v=1741186043&width=290"
        width="290px"
        height="auto"
        alt="Red Fender Logo"
      > {% endcomment %}
    </a>
    <form class="nav-content__form" action="/search">
      <button class="nav-content__button">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </button>
      <input
        class="nav-content__input"
        type="text"
        placeholder="What can we help you find?"
      >
    </form>
    <div class="nav-content__icons">
      <a href="#">
        <i class="fa-solid fa-location-dot"></i>
      </a>
      <a href="#">
        <i class="fa-solid fa-user"></i>
      </a>
      <a href="#">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
    <!--
      <ul class="nav-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    -->
    <!-- <a class="nav-btn" href="#">My Work</a> -->
    <!--
      <a href="#" class="mobile-ham">
        <div class="mobile-lines line1"></div>
        <div class="mobile-lines line2"></div>
        <div class="mobile-lines line3"></div>
      </a>
    -->
  </div>
  <div class="nav-nav">
    <!-- <div> -->
     {% comment %} {% if section.settings.link_list %} {% endcomment %}
      <ul class="nav-nav__menu">
        {% comment %} <li>
          <a href="#"><span class="nav-nav__red">Spring Deals</span></a>
        </li> {% endcomment %}
        {% for link in linklists[section.settings.link_list].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        {% comment %} <li><a href="#">Mod Shop</a></li>
        <li><a href="#">Electric Guitars</a></li>
        <li><a href="#">Basses</a></li>
        <li><a href="#">Acoustic</a></li>
        <li><a href="#">Squier</a></li>
        <li><a href="#">Amplifiers & Effects</a></li>
        <li><a href="#">Parts</a></li>
        <li><a href="#">Accessories</a></li> {% endcomment %}
      </ul>
    {% comment %} {% endif %} {% endcomment %}
    <!-- </div> -->
    <!-- <div> -->
    <ul class="nav-nav__menu">
      <li><a href="#">Learn</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Help Center</a></li>
    </ul>
    <!-- </div> -->
  </div>
</header>

{% schema  %} 
{
  "name": "Header",
  "settings": [
    {
      "type": "color",
      "id": "header_bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "Navigation Menu"
    }

  ]
}

{% endschema %}


