<section class="hero" style="{{ section.settings.hero_overlay }}">

  <img
    width="1200px"
    height="auto"
    src="{{ section.settings.hero_image | img_url: 'master' }}" alt="hero image">
  <!--
    <img
      src="https://images.ctfassets.net/mdpgzc1lmx9t/230JYfBuqSZg9qLBsryTmT/8b40ecdd7d1b36ba8a24053cac40b011/Web_Fender_04_08_25_Fender_Stories_Collection_Mike_Campbell__Red_Dog__Telecaster_NPI_Launch_Shop_Hero_Desktop.webp"
      alt="hero image"
    />
  -->
  <!--
    <video
      class="hero-vid"
      src="assets/video/bg-vid.mp4"
      frameborder="0"
      autoplay="1"
      loop="1"
    ></video>
  -->
  <div class="hero-content">
    <img
      width="250px"
      height="auto"
      src="{{ section.settings.hero_title_image |  image_url: "master"  }}"
      alt="title image"
    >
    <!-- <h1>Header Title <span>Goes Here</span></h1> -->
    <div class="hero-content__inner">
      <p> {{ section.settings.hero_text }}</p>
      <div class="hero-btns">
        <a class="hero-btn" href="#">Shop Now</a>
        <a class="hero-learn-btn" href="#">Learn More</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      },
      {
        "type": "image_picker",
        "id": "hero_title_image",
        "label": "Title Image"
      },
      {
        "type": "text",
        "id": "hero_text",
        "label": "Hero Sub-header",
        "default": "Select Player II models souped up with performance-driven mods right out of the box."
      },
    ]
  }
{% endschema %}
