<section class="hero" style="{{ section.settings.hero_overlay }}">
  {% if section.settings.hero_video or section.settings.hero_image %}
  <video autoplay loop playsinline muted class="hero-vid">
    {% comment %} <source src="{{ section.settings.hero_video | video_url }}" type="video/mp4"> {% endcomment %}
    <source src="https://videos.ctfassets.net/mdpgzc1lmx9t/71HFG5t7wKC6wbo3bNiKxe/815d47625bfca1616e73ea8ea4902cee/HPS_Khruangbin_v3_opt.mp4" type="video/mp4">
  </video>
  {% else %}
  <img
    width="1200px"
    height="auto"
    src="{{ section.settings.hero_image | img_url: 'master' }}" alt="hero image">
    {% comment %} <img
      src="https://images.ctfassets.net/mdpgzc1lmx9t/230JYfBuqSZg9qLBsryTmT/8b40ecdd7d1b36ba8a24053cac40b011/Web_Fender_04_08_25_Fender_Stories_Collection_Mike_Campbell__Red_Dog__Telecaster_NPI_Launch_Shop_Hero_Desktop.webp"
      alt="hero image"
    /> {% endcomment %}
  {% endif %}
  <div class="hero-content">
    <img
      width="250px"
      height="auto"
      src="{{ section.settings.hero_title_image |  image_url: "master"  }}"
      alt="title image"
    >
    <!-- <h1>Header Title <span>Goes Here</span></h1> -->
    <div class="hero-content__inner">
      <p></p>
      <div class="hero-btns">
        <a class="hero-btn" href="#">Shop Now</a>
        <a class="hero-learn-btn" href="#">Learn More</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      },
      {
        "type": "image_picker",
        "id": "hero_title_image",
        "label": "Title Image"
      },
      {
        "type": "video_url",
        "id": "hero_video",
        "label": "Hero Video",
        "accept": ["youtube"]
      },
      {
        "type": "color",
        "id": "hero_text",
        "label": "Hero Sub-header Color",
        "default": "#FFFFFF"
      }
    ]
  }
{% endschema %}
