<div class="hero">
  <img
    width="1200px"
    height="auto"
    src="https://images.ctfassets.net/mdpgzc1lmx9t/6kXxgY9FriwzK3W0Co976f/d06913038c4548bfd853ac09bc846b76/Web_Fender_04_15_25_Fender_Player_II_Modified_Series_NPI_Launch_Shop_Assets_Hero_Desktop_Tele.webp"
    alt="hero image"
  >
  <!--
    <img
      src="https://images.ctfassets.net/mdpgzc1lmx9t/230JYfBuqSZg9qLBsryTmT/8b40ecdd7d1b36ba8a24053cac40b011/Web_Fender_04_08_25_Fender_Stories_Collection_Mike_Campbell__Red_Dog__Telecaster_NPI_Launch_Shop_Hero_Desktop.webp"
      alt="hero image"
    />
  -->
  <!--
    <video
      class="hero-vid"
      src="assets/video/bg-vid.mp4"
      frameborder="0"
      autoplay="1"
      loop="1"
    ></video>
  -->
  <div class="hero-content">
    <img
      width="250px"
      height="auto"
      src="https://images.ctfassets.net/mdpgzc1lmx9t/7hAg4ALONJI5fPUHSLn35o/362644abce073e24598be8a45fb06fd7/PlayerIIModified_Tag_Black.png"
      alt=""
    >
    <!-- <h1>Header Title <span>Goes Here</span></h1> -->
    <div class="hero-content__inner">
      <p>Select Player II models souped up with performance-driven mods right out of the box.</p>
      <div class="hero-btns">
        <a class="hero-btn" href="#">Shop Now</a>
        <a class="hero-learn-btn" href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>
