<section class="slideshow">
  <div class="slideshow-content">
{% for blocks in section.blocks %}

    <div class="slideshow-card">
      <div class="slideshow-img">
        <img src="https://placehold.co/1200x600" width="1200px" height="auto" alt="image1">
      </div>
      <div class="slideshow-body">
        <div class="slideshow-title" style="color: {{ section.settings.slideshow__title__color }}">{{ section.settings.slideshow__title }}</div>
        <div class="slideshow-text" style="color:{{ section.settings.slideshow__sub__text__color }};">{{ section.settings.slideshow__sub__text }}</div>
      </div>
      <a href="#" class="slideshow-btn">Shop Now</a>
    </div>

{% endfor %}

  </div> 
</section>

{% schema %}

{
  "name": "Cards",
  "tag": "section",
  "settings": [
      {
        "type": "text",
        "id": "slideshow__title",
        "label": "Card Title",
        "default": "Card Title Goes Here"
      }, 
      {
        "type": "color",
        "id": "slideshow__title__color",
        "label": "Title Color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "slideshow__sub__text",
        "label": "Sub-text",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempora dolorum."
      },
      {
        "type": "color",
        "id": "slideshow__sub__text__color",
        "label": "Sub-text Color",
        "default": "#000000"
      }
    ],
  "blocks": [
    {
      "name": "Cards",
      "type": "collection",
      "settings": [
      {
        "type": "text",
        "id": "slideshow__title",
        "label": "Card Title",
        "default": "Card Title Goes Here"
      }, 
      {
        "type": "color",
        "id": "slideshow__title__color",
        "label": "Title Color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "slideshow__sub__text",
        "label": "Sub-text",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempora dolorum."
      },
      {
        "type": "color",
        "id": "slideshow__sub__text__color",
        "label": "Sub-text Color",
        "default": "#000000"
      }
    ],
    "limit": 6
    }
  ]
}

{% endschema %}