<section class="test-bar">
  <p>Hello this is the test bar</p>
</section> 

{% schema %}

{
"name": "testBar",
"tag": "section",
"class": "test-bar",
"settings": [{
  "type": "text",
  "id": "test__bar",
  "label": "header"
}]
}



{% endschema %}