<section class="test-bar">
  <p style="color: {{section.settings.test__bar}};">Hello</p>
</section> 

{% schema %}

{
"name": "testBar",
"tag": "section",
"class": "test-bar",
"settings": [{
  "type": "color",
  "id": "test__bar",
  "label": "header"
}]
}



{% endschema %}