<section class="test-bar" style="background-color:{{ section.settings.bg__color }};">
  <p class="test-bar-text" style="color: {{section.settings.test__bar}};">Hello</p>
</section> 

{% schema %}

{
"name": "Text Color",
"tag": "section",
"settings": [{
  "type": "color",
  "id": "test__bar",
  "label": "Text Color"
},
{
  "type": "color",
  "id": "bg__color",
  "label": "Background Color",
  "default": "#FFFFFF"
  }

]}



{% endschema %}